---
import Layout from "@/layouts/Layout.astro";
import Intro from "@/views/resume/intro.astro";
import Experience from "@/views/resume/experience.astro";
---

<Layout title="Elvin Sánchez | Resume">
  <main class="main">
    <Intro />
    <Experience />
  </main>
</Layout>