---
import projects from "@/data/projects.json";
import ProjectCard from "@/components/ProjectCard.astro";
---

<section class="projects section" id="work">
  <div class="container">
    <h2 class="projects__title">Selected Projects</h2>
    <div class="projects__grid">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</section>

<style>
  .projects {
    margin-bottom: var(--spacing-24);
  }

  .projects__title {
    font-family: var(--ff-headline);
    font-size: var(--fs-headline-lg);
    font-weight: var(--fw-bold);
    margin-bottom: var(--spacing-16);
  }

  .projects__grid {
    display: grid;
    gap: var(--spacing-8);
  }

  @media screen and (min-width: 769px) {
    .projects__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
